## DataTypes In Python

In [2]:
# Integer example

age=21
type(age)

int

In [4]:
# Floating Point Datatype

height=6.12
print(height)
print(type(height))

6.12
<class 'float'>

In [ ]:
# String datatype Example

name='kiran'
print(name)
print(type(name))

kiran
<class 'str'>

In [6]:
# bollean datatype example

is_true=True
type(is_true)

bool

In [7]:
a=10
b=10
a==b

True

In [8]:
# comman errors

result=("hello"+5)

TypeError: can only concatenate str (not "int") to str

In [9]:
result=("hello" +str(5))
print(result)

hello5