## Variables In Python

In [1]:
a=100

In [ ]:
## Declaring and Assigning Variables

age=21
height=6.2
name="kiran"
is_student=True

##printing variables

print("age:",age)
print("Height:",height)
print("Name:",name)

age: 21
Height: 6.2
Name: kiran

In [3]:
## Naming convention
## Variable name should be discriptive
## they must start with an letter or '_' and it contains letters,numbers,and underscroes
## Variables name case sensitive

## valid variable name

first_name="kiran"
last_name="br"

In [ ]:
## invalid variable name

#2age=21
#first-name="kiran"
#@name="kiran"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4026682269.py, line 5)

In [ ]:
## Case sensitivity

name="kiran"
name==Name

False

:

:

In [ ]:
## understanding variable type
## python is dynamicaly typed,type of a variable determined the runtime

age=21 #int
height=6.2 #flot
name="kiran" #str
is_student=True #boll

print(type(age))

<class 'int'>

In [5]:
## Type checking and conversion

type(height)

NameError: name 'height' is not defined

In [7]:
age=21
print(type(age))

# type conversion

age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [8]:
age='25'
print(type(int(age)))

<class 'int'>

In [9]:
name='kiran'
int(name)

ValueError: invalid literal for int() with base 10: 'kiran'

In [10]:
height=6.11
type(height)

float

In [11]:
float(int(height))

6.0

In [12]:
## dynamic typing
## python allows the type of a variable to change as the program executes

var=10 #int
print(var, type(var))

var='hello'
print(var, type(var))

var=6.1
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
6.1 <class 'float'>

In [17]:
## input
age=int(input("what is the age"))
print(age, type(age))

21 <class 'int'>

In [18]:
## simple calculater

num1=float(input("Enter a first number : "))
num2= float(input("Enter a second number : "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ",quotient)

Sum:  30.0
Difference:  -10.0
Product:  200.0
Quotient:  0.5